<p id="notice"><%= notice %></p>

<H1>
  <%= @blogpost.title %>
</H1>

<div class="boxed">
<p>
  <%= @blogpost.contents %>
</p>
</div>


<%= link_to 'Edit', edit_blogpost_path(@blogpost) %> |
<%= link_to 'Back', blogposts_path %>
