<p id="notice"><%= notice %></p>

<H1>
  <%= @blogpost.title %>
</H1>

<div class="boxed">
<p>
  <%= @blogpost.contents %>
</p>
</div>

<table>

  <tbody>
    <% @pcomments.each do |comment| %>
      <tr>
        <td><%= comment.author %> said:</td>
        <td><%= comment.commenttext %></td>
        <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Comment', new_comment_path %>
<br/>

<%= link_to 'Edit', edit_blogpost_path(@blogpost) %> |
<%= link_to 'Back', blogposts_path %>
